* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App {
  width: 800px;
}
.post {
  display: flex;
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}
.post-enter {
  transform: translateX(-350px);
}
.post-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}

.post__btns {
  display: flex;
}
.page__wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.page {
  padding: 5px 10px;
  border: 1px solid teal;
  cursor: pointer;
  margin: 5px;
}
.page__current {
  border: 2px solid rgb(233, 112, 56);
  font-weight: bold;
}
.navbar {
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0 15px;
  border-bottom: 1px solid teal;
  margin-bottom: 10px;
}
.navbar__links {
  width: 150px;
  margin-left: auto;
  display: flex;
  justify-content: space-around;
}
.navbar__link {
  text-decoration: none;
  font-weight: bold;
  color: teal;
}
